.homeSection {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10rem;
    width: 100vw;
    height: 100vh;
    background: var(--bgc3);
    color: #fff;
    padding: 10rem 0;
}
.introInfo {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 2rem 0;
    line-height: 1.3;
}
.greetingTitle {
    font-size: 2.5rem;
}
.nameTitle {
    font-size: 3.5rem;
    color: cyan;
}
.designationTitle {
    font-size: 2rem;
}
.contactIcons {
    margin-top: 1rem;
}
.icons {
    color: #fff;
    padding: .2rem;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    margin: 0.2rem;
    /* display: flex; */
}
.icons:hover {
    color: aqua;
    /* box-shadow: .5rem .5rem 0 0 cyan; */
}
.contactButtons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.contactBtn {
    text-decoration: none;
    background-color: cyan;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: .3rem;
    color: #333;
    font-weight: 600;
}
.my_photo {
    width: 20rem;
    height: 20rem;
}