.navbarContainer {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* gap: 6rem; */
    display: flex;
    /* float: left; */
    background: var(--bgc3);
    padding: 1rem;

}
.logo h3{
    color: #fff;
    font-size: 2rem;
}
.navbarLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}
.navLinkItem {
    color: #fff;
    text-decoration: none;
}