.navbarContainer {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    /* background: var(--bgc1); */
    background: var(--main-bg);
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);

}

.logo a{
    color: var(--cyan-acent);
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}
.navbarLinks {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* background-color: red; */
    gap: 1.5rem;
    z-index: 1001;
    top: 10px;
    margin-top: 10px;
}
.navLinkItem {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 10px 3px;
    cursor: pointer;
}

.navLinkItem::after {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: var(--cyan-acent);
    transition: width 0.3s ease-in-out;
}
.navLinkItem:hover::after {
    width: 100%;
    cursor: pointer;
}
.navLinkItem.active {
    color: var(--cyan-acent);
    font-weight: 600;
}
.navLinkItem.active::after{
    width: 100%;
}

/* Hamburger menu icon */
.menuIcon {
    display: none;
    cursor: pointer;
    color: var(--cyan-acent);
}

/* ===== Responsive ===== */
@media (max-width: 600px) {
    .navbarLinks {
        position: absolute;
        height: 200px;
        top: -10px;
        left: 0;
        width: 100%;
        background: var(--bgc2);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0;
        display: none;
        z-index: 1000;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
        
    }

    .navbarLinks.activeMenu {
        display: flex;
        
    }

    .menuIcon {
        display: block;
        cursor: pointer;
        color: var(--cyan-acent);
        z-index: 10000; 
    }
}