* {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  font-size: ramp(3rem,1.5vw,5rem);
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
:root {
  /* --bgc1: linear-gradient(to right, #667eea, #764ba2); */
  /* --bgc2: linear-gradient(to right, #6a11cb, #2575fc); */
  /* --bgc4: linear-gradient(135deg, #2C3E50, #4CA1AF); */
  --bgc1: linear-gradient(135deg, #1e3c72, #2a5298);
  --bgc2: linear-gradient(135deg, #294271, #2d508d);
  --main-bg: #0f172a;
  --cyan-acent: #38bdf8;
  --main-text: #94a3b8;
}
#root {
  /* background: var(--bgc2); */
  background: var(--main-bg);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
